.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.btn {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: 0.3s;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0056b3;
}
