.app {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.step {
  margin-bottom: 10px;
}

.trip {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.trip img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}
